*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter Tight', sans-serif;
}

body{
    background-color: lightgray;
}

.container{
    background-color: white;
    height: 100px;
    vertical-align: middle;
}

#logo{
    height: 85px;
    padding: 25px 0 0 25px;
}

#toboolist{
    font-size: 60px;
    font-weight: bolder;
    vertical-align: 10px;
    
}

.div-centrale{
    width: 1000px;
    margin: 80px auto 0px auto;
    padding: 20px 0 20px 60px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.div-centrale1{
    width: 1000px;
    height: 600px;
    margin: 1px auto;
    padding: 0 60px;
    background-color: white;
    font-weight: bold;
    text-align: left;
    line-height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#bottone1{
    background-color: #5ba0f1;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;

}

#bottone2{
    background-color: white;
    border-radius: 5px;
    color: lightslategray;
    border: 1px solid gray;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;

}

h2{
    padding: 20px 0 10px 0;
}

h2::before{
    content: "\25BC";
    font-size: 70%;

}

.span-editorial{
    background-color: #5ba0f1;
    color: white;
    padding: 8px;
    border-radius: 15px;
    font-size: small;

}

#span-q1-goals{
    background-color: #9562e3;
    color: white;
    padding: 8px;
    border-radius: 15px;
    font-size: small;
}

#span-Recruiting{
    background-color: #69b99f;
    color: white;
    padding: 8px;
    border-radius: 15px;
    font-size: small;
}

#span-mobile{
    background-color: #5ba0f1;
    color: white;
    padding: 8px;
    border-radius: 15px;
    font-size: small;
}

#span-website{
    background-color: #e59829;
    color: white;
    padding: 8px;
    border-radius: 15px;
    font-size: small;
}

#span-sales{
    background-color: #cb5999;
    color: white;
    padding: 8px;
    border-radius: 15px;
    font-size: small;
}

.check::before{
    content: "\1F5F8";
     color: green;
     border: 2px green solid;
     width: 18px;
     padding: 0px;
     height: 18px;
     line-height: 15px;
     border-radius: 50%;
     align-items: center;
     text-align: center;
     display: inline-block;
     margin-right: 10px;

}

.cross::before{
     content: "\00D7";
     color: red;
     border: 2px red solid;
     width: 18px;
     padding: 0px;
     height: 18px;
     line-height: 15px;
     border-radius: 50%;
     align-items: center;
     text-align: center;
     display: inline-block;
     margin-right: 10px;
}
   

